<html>

<head>
    <meta charset="utf-8">
    <link href="/bower_components/bootswatch/flatly/bootstrap.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/resources/css/timeline.css" rel="stylesheet">

    <script src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/index.js"></script>
</head>

<body>

    <nav class="navbar navbar-static-top bg-primary">
        <div class="container-fluid">
            <div class="navbar-brand">
                <label><span class="glyphicon glyphicon-picture"></span> FastTax Portal</label>
            </div>
            <div class="nav navbar-brand navbar-right">
                <div class="btn-sm" href="#"><i class="fa fa-user-circle"></i>&nbsp;Peter</div>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <!--Left container-->
        <!--<div class="left-container">
              <div class="billing">-->
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="panel panel-primary">
                  <div class="panel-heading"><b>Billing Summary</b></div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><b>Total Billed</b>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$1600.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><b>Paid</b>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$1000.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><b>Balance</b>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$600.00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><b>Due</b>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$0.00
                        </div>
                    </div>
                </div>
              </div>
              <div class="panel panel-primary">
                  <div class="panel-heading"><b>Payments</b></div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><b>Next Scheduled Payment</b>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">11/20/2016
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$200.00
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><b>Past Payments</b>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">11/20/2016
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$200.00
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">11/20/2016
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$200.00
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">11/20/2016
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$200.00
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">11/20/2016
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$200.00
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">11/20/2016
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">$200.00
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <button type="=button" class="btn btn-success btn-xs"><span class="fa fa-credit-card"></span>&nbsp;Payment Method</button>
                  </div>
              </div>
              <div class="panel panel-primary">
                  <div class="panel-heading"><b>Documents</b></div>
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp;Doc 1
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp;Doc 2
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><i class="fa fa-file-o"></i>&nbsp;&nbsp;&nbsp;Doc 3
                          </div>
                      </div>
                  </div>
                  <div class="panel-footer">
                      <button type="=button" class="btn btn-success btn-xs"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                  </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Any questions for your representative?">
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="button"><i class="fa fa-send"></i>&nbsp;Send</button>
                    </div>
                </div>
                <br/>
                <div class="panel panel-primary">
                    <div class="panel-heading"><b>Action Needed</b></div>
                    <ul class="list-group">
                        <li class="list-group-item">
                          <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">Upload the signed POA please.</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><button type="=button" class="btn btn-success btn-xs pull-right"><i class="fa fa-check"></i>&nbsp;Mark Done</button>
                            </div>
                          </div>
                          </li>
                        <li class="list-group-item">
                          <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">Give us a call ASAP : 312-555-999.</div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><button type="=button" class="btn btn-success btn-xs pull-right"><i class="fa fa-check"></i>&nbsp;Mark Done</button>
                            </div>
                          </div>
                          </li>
                    </ul>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading"><b>History</b></div>
                    <div class="panel-body">


                        <div class="qa-message-list" id="wallmessages">
                            <div class="message-item" id="m3">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="avatar pull-left">
                                            <a href=""><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                        </div>
                                        <div class="user-detail">
                                            <h5 class="handle">Admin</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                              <span class="qa-message-when-data">Oct 20, 2016</span>
                                                    </span>
                                                    <span class="qa-message-who">
                                              <span class="qa-message-who-pad">by </span>
                                                    <span class="qa-message-who-data"><a href="">admin</a></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        Your case was transferred to attorney.
                                    </div>
                                </div>
                            </div>

                            <div class="message-item" id="m2">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="avatar pull-left">
                                            <a href=""><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                        </div>
                                        <div class="user-detail">
                                            <h5 class="handle">Admin</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                              <span class="qa-message-when-data">Oct 20, 2016</span>
                                            </span>
                                                    <span class="qa-message-who">
                                              <span class="qa-message-who-pad">by </span>
                                                    <span class="qa-message-who-data"><a href="">admin</a></span>  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                          Your payment was received.
                                    </div>
                                </div>
                            </div>

                            <div class="message-item" id="m1">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="avatar pull-left">

                                            <a href=""><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                        </div>
                                        <div class="user-detail">
                                            <h5 class="handle">Admin</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                              <span class="qa-message-when-data">Oct 06, 2016</span>
                                                    </span>
                                                    <span class="qa-message-who">
                                              <span class="qa-message-who-pad">by </span>
                                                    <span class="qa-message-who-data"><a href="">admin</a></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                        Your document correction was done.
                                    </div>
                                </div>
                            </div>

                            <div class="message-item" id="m2">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="avatar pull-left">
                                            <a href=""><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                        </div>
                                        <div class="user-detail">
                                            <h5 class="handle">Admin</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                              <span class="qa-message-when-data">Sep 20, 2016</span>
                                                    </span>
                                                    <span class="qa-message-who">
                                              <span class="qa-message-who-pad">by </span>
                                                    <span class="qa-message-who-data"><a href="">admin</a></span>  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                          Your payment was received.
                                    </div>
                                </div>
                            </div>

                            <div class="message-item" id="m2">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="avatar pull-left">
                                            <a href=""><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                        </div>
                                        <div class="user-detail">
                                            <h5 class="handle">Admin</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                              <span class="qa-message-when-data">Aug 20, 2016</span>
                                                    </span>
                                                    <span class="qa-message-who">
                                              <span class="qa-message-who-pad">by </span>
                                                    <span class="qa-message-who-data"><a href="">admin</a></span>  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                          Your payment was received.
                                    </div>
                                </div>
                            </div>

                            <div class="message-item" id="m2">
                                <div class="message-inner">
                                    <div class="message-head clearfix">
                                        <div class="avatar pull-left">
                                            <a href=""><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a>
                                        </div>
                                        <div class="user-detail">
                                            <h5 class="handle">Admin</h5>
                                            <div class="post-meta">
                                                <div class="asker-meta">
                                                    <span class="qa-message-what"></span>
                                                    <span class="qa-message-when">
                                              <span class="qa-message-when-data">Aug 03, 2016</span>
                                                    </span>
                                                    <span class="qa-message-who">
                                              <span class="qa-message-who-pad">by </span>
                                                    <span class="qa-message-who-data"><a href="">admin</a></span>  </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="qa-message-content">
                                          Our team is working on your case.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="panel panel-primary" ng-app="contact" ng-controller="contactCtrl">
                <div class="panel-heading"><b>Contact</b>
                    <button type="button" class="btn btn-success btn-xs pull-right" ng-click="editSave($event)"><i ng-class="btnClass"></i></button>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><b>Phone</b>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"><span id="phone" ng-hide="editMode">{{phone}}</span><input class="form-control" ng-show="editMode" ng-model="phone" style="height:30px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><b>Fax</b>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"><span id="fax" ng-hide="editMode">{{fax}}</span><input class="form-control" ng-show="editMode" ng-model="fax" style="height:30px;"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><b>Address</b>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"><span id="address" ng-hide="editMode">{{address}}</span><input class="form-control" ng-show="editMode" ng-model="address" style="height:30px;"/>
                        </div>
                    </div>
                  </div>
              </div>

              <div class="panel panel-primary">
                  <div class="panel-heading"><b>Media</b></div>
                  <div class="panel-body">
                      <p>How to do xyz? <a href=""><i class="fa fa-play pull-right" style="color:red"></i></a></p>
                      <p>How to prepare ABC? <a href=""><i class="fa fa-arrow-down pull-right" style="color:green"></i></a></p>
                  </div>
              </div>
            </div>
        </div>
    </div>

    <footer>
      <nav class="nav footer navbar-static-bottom bg-primary">
          <div class="container-fluid">
            <div>FastTax Portal</div>
            <div class="pull-right">© Logics 2016, All Rights Reserved.</div>
          </div>
        </nav>
    </footer>
</body>

</html>
