<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" style="margin-left:0;">
	<!-- Logo -->
	<a href="#" class="logo">
		<span class="logo-lg">
			<span class="fa fa-picture-o"></span>&nbsp;<b>FastTax Portal</b>
		</span>
	</a>
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
			<li class="dropdown notifications-menu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-bell-o"></i>
					<span class="label label-warning">1</span>
				</a>
				<ul class="dropdown-menu">
					<li class="header">You have no notifications</li>
					<li>
						<!-- inner menu: contains the actual data -->
						<ul class="menu">
							<li>
								<a href="#">
									<i class="fa fa-users text-aqua"></i>
									hiiiii
								</a>
							</li>
						</ul>
					</li>
					<li class="footer">
						<a href="#">View all</a>
					</li>
				</ul>
			</li>
			<!-- User Account: style can be found in dropdown.less -->
			<li class="dropdown user user-menu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					<i class="fa fa-user-circle"></i>
					<span class="hidden-xs">Peter</span>
				</a>
				<ul class="dropdown-menu">
					<!-- User image -->
					<li class="user-header">
						<img class="img-circle" src="/bower_components/AdminLTE/dist/img/avatar.png" alt="">
						<p>
							Peter
							<small>Member since Nov. 2012</small>
						</p>
					</li>
					<!-- Menu Footer-->
					<li class="user-footer">
						<div class="pull-left">
							<a href="#" class="btn btn-default btn-flat">Profile</a>
						</div>
						<div class="pull-right">
							<a href="#" class="btn btn-default btn-flat">Sign out</a>
						</div>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
