<style>
    #actiontodolist li {
        background: none;
        border-bottom: 1px solid #f4f4f4;
    }
    .completetask {
        text-decoration: line-through;
    }
    .skin-blue .main-header .logo {
        background: none;
    }
</style>
<div class="row">
    <div class="col-sm-3 col-md-3">
        <div class="box box-info color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">Billing Summary</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col col-sm-6">
                        <b>Total Billed</b>
                    </div>
                    <div class="col col-sm-6">
                        <span data-ng-bind="commonfactory.formatcurrency(billsummary.totalbilled,'$')"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <b>Paid</b>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span data-ng-bind="commonfactory.formatcurrency(billsummary.paid,'$')"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <b>Balance</b>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span data-ng-bind="commonfactory.formatcurrency(billsummary.balance,'$')"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <b>Due</b>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <span data-ng-bind="commonfactory.formatcurrency(billsummary.due,'$')"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">Payments</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="box-title">
                            <b>Upcoming Payments</b>
                        </h5>
                    </div>
                </div>
                <div class="row" data-ng-repeat="payment in scheduledpayments.upcomingpayments">
                    <b>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-ng-bind="commonfactory.formatdate(payment.paymentdate)"></div>
                    </b>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-ng-bind="commonfactory.formatcurrency(payment.paymentamount, '$')"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="box-title">
                            <b>Past Payments</h5>
                        </b>
                    </div>
                </div>
                <div class="row" data-ng-repeat="payment in scheduledpayments.pastpayments">
                    <b>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-ng-bind="commonfactory.formatdate(payment.paymentdate)"></div>
                    </b>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" data-ng-bind="commonfactory.formatcurrency(payment.paymentamount, '$')"></div>
                </div>
            </div>
            <div class="box-footer">
                <button type="=button" class="btn btn-success btn-xs">
                    <span class="fa fa-credit-card"></span>&nbsp;Payment Method</button>
            </div>
        </div>
        <div class="box box-info color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">Documents</h3>
            </div>
            <div class="box-body">
                <div class="row" data-ng-repeat="document in documents">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;<span data-ng-bind="document.documentname"></span>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="=button" class="btn btn-success btn-xs">
                    <i class="fa fa-upload"></i>&nbsp;Upload</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <!--<div class="input-group">
<input class="form-control" placeholder="Any questions for your representative?">
<div class="input-group-btn">
<button type="button" class="btn btn-success btn-flat"><i class="fa fa-send"></i>&nbsp;Send</button>
</div>
</div>-->
        <div class="box box-info direct-chat direct-chat-warning">
            <div class="box-header with-border">
                <h3 class="box-title">Queries</h3>
                <div class="box-tools pull-right">
                    <!--<span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>-->
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <!--<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
  <i class="fa fa-comments"></i></button>
<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
</button>-->
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg" data-ng-class="query.isclient ? 'right' : ''" data-ng-repeat="query in queries | orderBy: 'querytime'">
                        <div class="direct-chat-info clearfix">
                            <span data-ng-if="queries[$index-1].isclient != query.isclient " data-ng-class="query.isclient ? 'pull-right' : 'pull-left'" class="direct-chat-name " data-ng-bind="query.queryusername"></span>
                            <span data-ng-class="query.isclient ? 'pull-left' : 'pull-right'" class="direct-chat-timestamp" data-ng-bind="commonfactory.formatdatetime(query.querytime)"></span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img data-ng-if="queries[$index-1].isclient != query.isclient " class="direct-chat-img" data-ng-src="{{query.imagepath}}" alt="">
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text" data-ng-bind="query.querymessage"></div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <form action="#" method="post">
                    <div class="input-group">
                        <input type="text" name="message" placeholder="Any questions for your representative?" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success btn-flat">
                                <i class="fa fa-send"></i>&nbsp;Send</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-info color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">Actions</h3>
            </div>
            <div class="box-footer no-padding">
                <ul class="todo-list ui-sortable" id="actiontodolist">
                    <li style="border-left:none;" data-ng-repeat="action in actions | orderBy: 'actioninitiateddate'">
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-6 col-xs-6">
                                <span data-ng-class="action.iscompleted ? 'completetask' : ''" class="text" data-ng-bind="action.action"></span>
                                <!-- Emphasis label -->
                                <span data-ng-if="!action.iscompleted" class="label label-danger">
                                    <i class="fa fa-clock-o"></i>&nbsp;Pending since&nbsp;<span data-ng-bind="commonfactory.datesince(action.actioninitiateddate)"></span>
                                </span>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                                <!-- General tools such as edit or delete-->
                                <button type="button" data-ng-if="!action.iscompleted" class="btn btn-block btn-success btn-xs">
                                    <i class="fa fa-check"></i>&nbsp;Mark Done
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box box-info color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">History</h3>
                <div class="box-tools pull-right">
                    <!--<span data-toggle="tooltip" title="3 New Messages" class="badge bg-yellow">3</span>-->
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <!--<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">
<i class="fa fa-comments"></i></button>
<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
</button>-->
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- The time line -->
                        <ul class="timeline">
                            <!-- timeline time label -->
                            <li data-ng-repeat-start="history in groupedhistory" class="time-label">
                                <span class="bg-yellow" data-ng-bind="history.date"></span>
                            </li>
                            <li data-ng-repeat-end data-ng-repeat="historydata in history.value">
                                <i data-ng-class="historytype(historydata)" data-ng-class="historytype(historydata).iconcolor" class="fa"></i>
                                <div class="timeline-item">
                                    <span class="time">
                                        <i class="fa fa-clock-o"></i>
                                        <span data-ng-bind="commonfactory.formattime(historydata.historydate)"></span>
                                    </span>
                                    <div class="timeline-body" data-ng-bind="historydata.message"></div>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3" ng-app="contact">
        <div class="box box-info color-palette-box">
            <div class="box-header with-border">
                <h3 class="box-title">Contact</h3>
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-info btn-xs" ng-click="editSave($event)">
                        <i ng-class="btnClass"></i>
                    </button>
                </button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <b>Phone</b>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <span data-ng-bind="contactinformation.phone"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <b>Fax</b>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <span data-ng-bind="contactinformation.fax"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <b>Address</b>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <span data-ng-bind="contactinformation.address"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-info color-palette-box">
        <div class="box-header with-border">
            <h3 class="box-title">Media</h3>
        </div>
        <div class="box-body">
            <div class="row" data-ng-repeat="media in medias">
                <div class="col-xs-12">
                    <span data-ng-bind="media.medianame"></span>
                    <a href="">
                        <i class="fa pull-right" data-ng-class="mediattypeicon(media.mediatype)" data-ng-style="{color:mediattypestyle(media.mediatype)}"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
